.plugs-list-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
}

.plugs-list-title {
    font-size: 22px;
    font-weight: 600;
}

.plugs-list-subcontainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
}

.no-plugs-list-text {
    color: var(--gray-500);
}