.weekly-bar-chart-full-container {
    background-color: white;
    border-radius: var(--radius-md);
    padding: var(--space-md);
    padding-bottom: var(--space-xs);
    display: flex;
    flex-direction: row;
    column-gap: var(--space-lg);
}

.weekly-bar-chart-values-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
}