.progress-list-container {
    width: 100%;
    background-color: white;
    padding: var(--space-md);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
    font-size: 16px;
}

.progress-list-row {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xxs);
}

.progress-list-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.progress-list-label {
    font-weight: 500;
}

.progress-list-value {
    font-weight: 700;
}

.progress-list-bar-background {
    height: 14px;
    border-radius: 10px;
    background-color: var(--gray-200);
    overflow: hidden;
}

.progress-list-bar-fill {
    height: 100%;
    border-radius: 10px;
}