.general-info-container {
    background-color: white;
    box-shadow: var(--shadow-normal);
    border-radius: var(--radius-md);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-md);
}

.source-container {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-sm);
    align-items: center;
}

.source-consumption-container {
    padding: var(--space-xl) var(--space-sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedules-container {
    background-color: var(--primary-500);
    border-radius: var(--radius-md);
    height: 100%;
    padding: var(--space-md);
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-md);
}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--success);
    box-shadow: 0 0 20px 7px rgba(0, 255, 0, 0.15);
}

.source-status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--space-sm);
    font-size: 20px;
}

.schedule-container {
    background-color: rgba(255,255,255,0.2);
    border-radius: var(--radius-md);
    padding: var(--space-xs) calc(1.2 * var(--space-xs));
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--space-sm);
}

.schedule-info {
    color: rgba(255,255,255,0.6);
}

.source-consumption-info {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xxxs);
}

.all-schedules {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
}