.page-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtitle-text {
    margin-top: calc(-1 * var(--space-xxs));
    color: var(--gray-500)
}