.page-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtitle-text {
    margin-top: calc(-1 * var(--space-xxs));
    color: var(--gray-500)
}

.add-button {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: white;
    background-color: var(--primary-500);
    font-weight: 500;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}